.dice {
  /* placement */
  display: flex;
  justify-content: center;
  align-items: center ;
  text-align: center;
  

  /* shape */
  width: 3em;
  height: 3em;

  padding: .2em;
  margin: .2em;

  border-radius: 5px;

  /* color */
  color: var(--palette-primary-500-text);

  /* effects */
  box-shadow: .1em .1em .2em .1em var(--palette-shadow);

  /* animation */
  transition: transform 50ms ease-in-out;
}

@media (any-hover){
  .dice:hover {
    border: 3px solid var(--palette-tertiary-500);
    transform: scale(1.1);
}}

.inactive {
  border: 3px solid var(--palette-tertiary-500);
  transform: scale(1.1);
  background-color: var(--palette-tertiary-500);
}

.inactive:hover {
  border-color: rgba(0, 0, 0, 0.15);
}