.App {
  /* placement */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* shape */
  width: 50%;
  max-width: 80%;
  min-height: 50%;

  border-radius: 20px;

  /* colors */
  background-color: var(--palette-primary-500);
}