.App {
  /* placement */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* shape */
  width: 100%;
  max-width: 100%;
  min-height: 100%;

  /* colors */
  background-color: var(--palette-primary-500);
}